<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>
      <%= @article.title %>
      <small>
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_article_path  %>
        <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, edit_article_path, method: "delete"  %>
      </small>
    </h1>
    <hr>
    <p><%= @article.content %></p>
    <p><%= link_to "Back", articles_path %></p>
  </div>
</div>
